<?xml version="1.0"?>
<config>
    <modules>
        <Levementum_Groupedproduct>
            <version>1.0.0</version>
        </Levementum_Groupedproduct>
    </modules>
    <global>
        <blocks>
            <groupedproduct>
                <class>Levementum_Groupedproduct_Block</class>
            </groupedproduct>
        </blocks>
        <helpers>
            <groupedproduct>
                <class>Levementum_Groupedproduct_Helper</class>
            </groupedproduct>
        </helpers>
        <models>
            <groupedproduct>
                <class>Levementum_Groupedproduct_Model</class>
                <resourceModel>groupedproduct_resource</resourceModel>
            </groupedproduct>
            <groupedproduct_resource>
                <class>Levementum_Groupedproduct_Model_Resource</class>
                <entities>
                    <sets>
                        <table>levementum_groupedproduct_sets</table>
                    </sets>
                </entities>
            </groupedproduct_resource>
            <catalog>
                <rewrite>
                    <product_type_grouped>Levementum_Groupedproduct_Model_Product_Type_Grouped</product_type_grouped>
                </rewrite>
            </catalog>
            <importexport>
                <rewrite>
                    <export_entity_product_type_grouped>Levementum_Groupedproduct_Model_ImportExport_Export_Entity_Product_Type_Grouped</export_entity_product_type_grouped>
                </rewrite>
            </importexport>
        </models>
        <resources>
            <levementum_groupedproduct_setup>
                <setup>
                    <module>Levementum_Groupedproduct</module>
                    <class>Levementum_Groupedproduct_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </levementum_groupedproduct_setup>
            <groupedproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </groupedproduct_write>
            <groupedproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </groupedproduct_read>
        </resources>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <groupedproductAddHandle>
                        <type>singleton</type>
                        <class>groupedproduct/observer</class>
                        <method>addLevementumGroupedHandle</method>
                    </groupedproductAddHandle>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <groupedproduct before="Mage_Adminhtml">Levementum_Groupedproduct_Adminhtml</groupedproduct>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <groupedproduct>
                    <file>levementum/groupedproduct.xml</file>
                </groupedproduct>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <groupedproduct>
                    <file>levementum/groupedproduct.xml</file>
                </groupedproduct>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <levementum_grouped>
            <groupedproduct>
                <enabled>1</enabled>
                <allow_all_attributes>1</allow_all_attributes>
                <allow_sort_all_attributes>1</allow_sort_all_attributes>
                <default_view>1</default_view>
                <default_page_length_all>all</default_page_length_all>
                <default_display_page>list</default_display_page>
                <displayed_attributes>sku,name</displayed_attributes>
                <primary_attribute>name</primary_attribute>
            </groupedproduct>
            <display>
                <display_individual_add>0</display_individual_add>
                <enabled_grid_view>0</enabled_grid_view>
            </display>
            <display_list>
                <pagination>none</pagination>
                <limiter>none</limiter>
                <information>both</information>
                <pagination_prepend><![CDATA[<strong>Page: </strong>]]></pagination_prepend>
                <display_first_last>0</display_first_last>
            </display_list>
            <!--<display_grid>-->
                <!--<pagination></pagination>-->
                <!--<limiter></limiter>-->
                <!--<information></information>-->
            <!--</display_grid>-->
            <display_detail>
                <pagination>both</pagination>
                <limiter>both</limiter>
                <information>both</information>
                <pagination_prepend><![CDATA[<strong>Page: </strong>]]></pagination_prepend>
                <display_first_last>0</display_first_last>
            </display_detail>
        </levementum_grouped>
    </default>
</config>   