<?xml version="1.0"?>
<config>
    <modules>
        <Levementum_LevCore>
            <version>1.0.0</version>
        </Levementum_LevCore>
    </modules>
    <global>
        <blocks>
            <levcore>
                <class>Levementum_LevCore_Block</class>
            </levcore>
            <customer>
                <rewrite>
                    <account_navigation>Levementum_LevCore_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <levcore>
                <class>Levementum_LevCore_Helper</class>
            </levcore>
            <core>
                <rewrite>
                    <data>Levementum_LevCore_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <models>
            <levcore>
                <class>Levementum_LevCore_Model</class>
            </levcore>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <levcore>
                    <file>levementum/levcore.xml</file>
                </levcore>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <levcore>
                    <file>levementum/levcore.xml</file>
                </levcore>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <levementum>
                                            <title>Levementum Core</title>
                                            <sort_order>300</sort_order>
                                        </levementum>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <levementum>
            <includes>
                <include_jquery_frontend>1</include_jquery_frontend>
                <include_jquery_admin>1</include_jquery_admin>
            </includes>
        </levementum>
    </default>
</config>   